<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<svg id="chart1"></svg>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script>
	var dataSet = gon.stacked1[0];

	var attr = "<%= local_assigns[:property] ? property : nil %>";

	var height = 600;

	nv.addGraph(function() {
		var chart = nv.models.pieChart()
			.x(function(d) { return d[attr] })
			.y(function(d) { return d.people })
			.labelType("value")
			.labelThreshold(0.02)
			.labelsOutside(false)
			.labelFormat(d3.format('d'))
			.height(height);


		d3.select("#chart1")
			.datum(dataSet)
			.attr('height', height)
			.call(chart);

		return chart;
	});
</script>
