defaults: &defaults
  JIRA_URL: YOUR_JIRA_URL
  JIRA_CONSUMER_KEY: YOUR_JIRA_APP_CONSUMER_KEY
  JIRA_PRIVATE_KEY_FILE: FILE_SYSTEM_LOCATION_OF_YOUR_JIRA_APP_PRIVATE_KEY_FILE
  JIRA_OAUTH_TOKEN: YOUR_JIRA_OAUTH_TOKEN
  JIRA_OAUTH_KEY: YOUR_JIRA_OAUTH_KEY
  JIRA_DEFAULT_FILTER_ID: "123456"
  GOOGLE_APPS_ID: YOUR_GOOGLE_APPS_ID
  GOOGLE_APPS_SECRET: YOUR_GOOGLE_APPS_SECRET

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
