<h3>Reports</h3>

<table class="table table-striped table-condensed">
	<tr>
		<th class="col-md-3">title</th>
		<th class="col-md-2"></th>
	</tr>

	<% @reports.each do |report| %>
	<tr>
		<td><%= report.title %></td>

		<td><%= link_to 'Edit', report_path(report) %> &nbsp;
		<%= link_to 'Delete', report_path(report), data: {confirm: 'Are you sure?'}, method: :delete, remote: true, class: 'delete_report' %></td>
	</tr>
	<% end %>
</table>
